/* nav 하단 고정 및 세로길이 설정 */
.wrapper{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:70px;
    background-color: white;
}

/* nav태그 아래 수평 정렬 */
nav{
    overflow: hidden;
    
}

/* div태그 수평정렬 및 세로길이 설정 */

nav > div{
    margin-top:8px;
    /* 수평정렬 */
    text-align: center;
    float: left;
    width: 23%;
    /* 세로 길이 */
    height: 60px;
    line-height: 45px;
    /* 위치 조정 */
    
    
}


.navText{
    color:#a4a4a4;
}
.navIcon{
    width:30px;
    display: block;
    margin: auto;
    margin-bottom: -0.55rem;

}

.navbox.I1{
    margin-left: 1rem ;
}

.navSelected{
    color:blue;
}