.warrap_btn{
    position: fixed;
    top:80%;
    left:75%;
}

.btn:active { border: none !important; box-shadow: none !important; }

.btn:focus { border: none !important; box-shadow: none !important; }