.infobox2{
    margin: auto;
    width: 20rem;
    height: 8.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    /* box-shadow:0px 0px 0.5rem rgba(0, 0, 0, .1); */
}


.infoDetail{
    width: 17rem;
    margin: auto;

}
.carousel{
    height: auto;
}
.slick-prev:before {
    opacity: 0;
    color: rgb(59, 159, 49); 
    left: 0;
  }
.slick-next:before {
opacity: 0;
color: rgb(59, 159, 49);
}
.slick-list{
    height: auto;
}