.Myplanto_title{
    margin-left: 1.2rem;
    font-size:30px;
}

.Myplanto_name{
    margin-left: 1.2rem;
    margin-top: -0.5rem;
    font-size:20px;

}

.main_back_img{
    margin-top: 10px;
    height:45rem;
    text-align: center;
    position:relative;
    overflow: hidden;

}
.main_btn{
    position:absolute;
    width:200px;
    height:50px;
    left: 12vh;
    border-radius:50px;
    top:60vh;
    margin: auto;
    background-color: #FDDC3F;
    
}
.main_add_btn{
    margin-left: 8vw;
    width:84vw;
    height:5vh;
    border-radius: .5rem;
    background-color: #329E5D;
    font-size: 2rem;
    color: #ffffff;
    box-shadow:0px 0px .5rem rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 3px 1px #ffffff inset

}

/* 메인*/
.PlantoCard{
    margin:auto;
    display: flex;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    width:84vw;
    height:6.5rem;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow:0px 0px 1rem rgba(0, 0, 0, .1);
    justify-content:space-between;

}
.PlantoCard2{
    margin:auto;
    display: flex;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    width:84vw;
    height:8rem;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow:0px 0px 1rem rgba(0, 0, 0, .1);

}
.enrollbtn{
    font-size: 1.2rem;
    width: 4.8rem;
    border-radius: 1rem;
    color:white;
    background-color: #329E5D;
    margin-left: 9.4rem;
    margin-top: .8rem;
}
.detailbtn{
    font-size: 1.2rem;
    color:#a4a4a4;
    width: 5.9rem;
    border-radius: .5rem;
    /* margin-left: 10rem; */
    margin-top: .5rem;
    border:1px solid #a4a4a4;
    /* background-color: #c6ffdd; */

}
.nonplanttext{
    color: #484b49;
    font-size: 1.25rem;
}
.nonplantsubtext{
    color: #a4a4a4;
    margin-top: -.2rem;
    font-size: .9rem;
}
.plantoname{
    font-size: 1.3rem;

}
.plantsubname{
    font-size: 1.1rem;
    margin-top: -.2rem;
}

.enrollbtntext{
    font-size: 16px;

}