.reward_top_wrapped{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.reward_message{
    margin-top: 1.2rem;
    margin-left: 1.2rem;

}

.reward_img {
    margin-top: 2rem;
    margin-right: 1rem;
    width:150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;

}
