.reward_top_wrapped{
    display: flex;
    justify-content: space-between;
}
.reward_message{
    margin-top: 1.2rem;
    margin-left: 1.2rem;

}

.reward_img {

    width:150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;

}
