.plantInput{

    width: 80%;
    height: 2rem;
    

}

.enrollBtn{

    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 10rem;
    margin-top: 1.5rem;
    margin-left: 6.2rem;
    background-color: #329E5D ;
    color: white;

}
.plantInputTitle{
    margin-left: 2.6rem;
    
}
.inputbox{
    margin-top: 1rem;
}
input:focus {outline: none;} 

input {
    margin-top: 0.2rem;
    border: none;
    border: none; 
    background: transparent;
    align-items: center;
    vertical-align: middle;
}

.plantInput input[type=text] {

    margin-left: 1rem;
    font-size: 1rem;
    font-family: 'PreLight';
    
}

.plantInputLine{
    display: flex;
    width: 80%;
    height: 2.5rem;
    margin: auto;
    background-color: #f0f0f0;
    

}

.EnrolltitleBox{
    width: 100%;
}
.enrollTitle{
    margin-left: 7rem;    
    font-size: 1.5rem;
    color:#329E5D;
}

