#Pot-enroll{
    overflow: hidden;  
    white-space: nowrap;
    word-break:break-all;
}

#video{
    left: -350px !important;
}

.fil-white {
    position: absolute;
    top: 6.5%;
    left: 9%;
    width: 25px;
    height: 25px;
    background-color: white;
    z-index: 1;
}

.circle-frame {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 4%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 3rem;
}

.circle-btn {
    z-index: 2;
    width: 60px;
    height: 60px;
    color: #329E5D;

}

.qr-reader-frame {
    position: absolute;
    z-index: 3;
    top: 20%;
    right: 2%;
}

.info-frame{
    position: absolute;
    z-index: 1;
    bottom: 15%;
    width: 100%;    
    text-align: left;
}

.info-wrapper{
    margin: 0 5%;
    border-radius: 40px;
    background-color: #FFF9E9;
    padding: 3% 5%;
    display: flex;
    flex-wrap: nowrap;
}

.info-wrapper .hTag {
    font-size: 1.3em;
    color: #329E5D;
}

.info-wrapper .pTag{
    font-size: 0.9em;
}

.info{
    display: flex;
    align-items: center;
}

.p-right{
    margin-left: 30%;
}